<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%=title%>
    </title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <style>
        .action-buttons {
            white-space: nowrap;
        }

        .action-buttons .btn {
            margin: 2px;
        }

        .badge {
            font-size: 0.8em;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../layouts/doctorSidebar.ejs') %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('../layouts/navbar.ejs') %>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->

                            <div class="container mt-4">
                                <h2 class="mb-4">Doctor Attendance</h2>

                                <!-- Flash Messages -->
                                <% if (success && success.length> 0) { %>
                                    <div class="alert alert-success">
                                        <%= success %>
                                    </div>
                                    <% } %>
                                        <% if (error && error.length> 0) { %>
                                            <div class="alert alert-danger">
                                                <%= error %>
                                            </div>
                                            <% } %>

                                                <!-- Check-in / Check-out Button -->
                                                <div class="mb-4 text-center">
                                                    <% if (!attendance) { %>
                                                        <form action="/doctor/checkin" method="POST">
                                                            <button type="submit" class="btn btn-success btn-lg">Check
                                                                In</button>
                                                        </form>
                                                        <% } else if (!attendance.checkOut) { %>
                                                            <form action="/doctor/checkout" method="POST">
                                                                <button type="submit"
                                                                    class="btn btn-danger btn-lg">Check Out</button>
                                                            </form>
                                                            <p class="mt-2">Checked in at: <%=
                                                                    attendance.checkIn.toLocaleTimeString() %>
                                                            </p>
                                                            <% } else { %>
                                                                <p class="text-success fw-bold">You have already checked
                                                                    out today!</p>
                                                                <p class="text-muted">Worked Hours: <%=
                                                                        attendance.hoursWorked.toFixed(2) %> hrs</p>
                                                                <% } %>
                                                </div>

                                                <!-- Attendance History Table -->
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Recent Attendance</h5>
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>Check-in</th>
                                                                    <th>Check-out</th>
                                                                    <th>Hours Worked</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% attendanceList.forEach(att=> { %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= att.date.toDateString() %>
                                                                        </td>
                                                                        <td>
                                                                            <%= att.checkIn ?
                                                                                att.checkIn.toLocaleTimeString() : '-'
                                                                                %>
                                                                        </td>
                                                                        <td>
                                                                            <%= att.checkOut ?
                                                                                att.checkOut.toLocaleTimeString() : '-'
                                                                                %>
                                                                        </td>
                                                                        <td>
                                                                            <%= att.hoursWorked ?
                                                                                att.hoursWorked.toFixed(2) : '-' %>
                                                                        </td>
                                                                    </tr>
                                                                    <% }) %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                            </div>




                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include('../layouts/footer.ejs') %>
                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('../layouts/modal.ejs') %>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/modal.js"></script>
        <script>
            $(document).ready(function () {
                $('.doctorTable, .nurseTable, .staffTable').DataTable();
            });
        </script>


</body>

</html>